<div class="ui card">
  <div class="content">
    <p class="header">
      <%= @user.first_name %>'s Lists
    </p>
  <div>
    <%= link_to 'Edit List Title', edit_user_list_path(@user, @list) %>
    <h2><%= @list.title.upcase %></h2>
  </div>

<%= link_to 'Add Item', new_list_item_path(@list) %>

    <ul>
        <% @list.items.each do |i| %>
        <li>  
          <%= i.body.capitalize %>
          <br />
          <%= link_to 'Edit', edit_list_item_path(@list.id, i.id)%>
          <%= link_to 'Delete', list_item_path(@list.id, i.id), method: :delete %>
        </li>
      <% end %>
      
    </ul>
  </div>

  <div class="extra content">
    <%= link_to 'Delete List', [@user, @list], method: :delete %>
    <br />
    <%= link_to 'Back to Lists', user_lists_path(@user) %>
  </div>
</div>