<h1> <%= @item.id ? 'Edit Item' : 'Create Item' %> </h1>
<hr />
<%= form_with(model: [@list, @item], local: true) do |f| %>
  <%= f.label :item %>
  <br />
  <%= f.text_field :body %>
  <br />
  <br />
  <%= f.submit%>
<% end %>