<h1> <%= @item.id ? 'Edit Item' : 'Create Item' %> </h1>
<hr />
<%= form_with(model: [@list, @item], local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :item %>
    <%= f.text_field :body %>
  </div>

  <div class="field">
    <%= f.submit%>
  </div>
<% end %>